<!-- <li class="video-list-entry media">
  <div class="media-left">
    <img class="media-object" src="https://i.ytimg.com/vi/1w8Z0UOXVaY/default.jpg" />
  </div>
  <div class="media-body">
    <div class="video-list-entry-title">Video Title</div>
    <div class="video-list-entry-detail">Video Description</div>
  </div>
</li> -->


  <li ng-controller="videoListEntryCtrl" class="video-list-entry media">
    <div class="media-left">
      <img class="media-object" src={{ctrl.video.snippet.thumbnails.default.url}} />
    </div>
    <div class="media-body">
      <div class="video-list-entry-title">{{ctrl.video.snippet.title}}</div>
      <h5>what</h5>
      <div class="video-list-entry-detail">{{ctrl.video.snippet.description}}</div>
    </div>
  </li>